@model MovieRates.Models.Reviews

@{ ViewData["Title"] = "Details"; }


@if (User.IsInRole("Gestor")) {
<h1>Details</h1>
<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pontuacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pontuacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Capa)
        </dd>
    </dl>
</div>}
@if (User.IsInRole("Gestor")) {
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdReview">Edit</a>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> } else {
    <h1>Página restrita ao Gestor</h1>
        }