@model IEnumerable<MovieRates.Models.Categorias>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>
@if (User.IsInRole("Gestor")) {
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="background: #ece3f7;">
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdCategorias">@Html.DisplayFor(modelItem => item.Nome)</a>
            </td>
            @if (User.IsInRole("Gestor")) {
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategorias">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategorias">Delete</a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
